<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> Cant Singup!!</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
  <table class='well table table-bordered' style='text-align: center;width:40%;margin-top: 10%'> 
    <tr><td><%= f.label :name %></td><td>
    <%= f.text_field :name %></td></tr>
  
    <tr><td><%= f.label :username %></td><td>
    <%= f.text_field :username %></td></tr>
  
    <tr><td><%= f.label :password %></td><td>
    <%= f.password_field :password %></td></tr>
  
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
</center>